// Global Styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg,#cc02cc, #00fa9a);
  border-radius: 1rem;
}

// Import Files
@import './Player.scss';
@import './SongDetail.scss';
@import './Library';
