.player__container {
  justify-content: center;
  min-height: 20vh;
  //   background-color: rgb(243, 217, 198);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

.player__timer {
  //   background-color: rgb(216, 171, 180);
  width: 50%;
  display: flex;
  input {
    width: 100%;
    // padding: 1rem 0;
    background: transparent;
    -webkit-appearance: none;
  }
  p {
    padding: 0 1rem;
  }
}

.player__icon {
  justify-content: space-between;
  display: flex;
  width: 30%;
  padding: 1.5rem;
  svg {
    cursor: pointer;
  }
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
}

input[type='range']::-moz-slider-thumb {
  -webkit-appearance: none;
 background: none;
 border: none;
}

.track {
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.animated-track {
  background: rgb(213, 226, 225);
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .player__timer {
    width: 90%;
  }
  .player__icon {
    width: 60%;
  }
}
